page-login {

	@media screen and (max-height: 400px) {
	    ion-footer {
	        display: none;
	    }
	}

ion-content {
background: -webkit-linear-gradient(bottom, #f7931e 0%, #e9742f 83%, #e76f32 100%);
    background: -o-linear-gradient(bottom, #f7931e 0%, #e9742f 83%, #e76f32 100%);
    background: -ms-linear-gradient(bottom, #f7931e 0%, #e9742f 83%, #e76f32 100%);
    background: -moz-linear-gradient(bottom, #f7931e 0%, #e9742f 83%, #e76f32 100%);
    background: linear-gradient(to top, #f7931e 0%, #e9742f 83%, #e76f32 100%);

}

.text-input::-moz-placeholder {
  color: white;
}

.text-input:-ms-input-placeholder {
  color: white;
}

.text-input::-webkit-input-placeholder {
  color: white;
}

.text-input:focus::-moz-placeholder {
  color: transparent;
}

.text-input:focus:-ms-input-placeholder {
  color: transparent;
}

.text-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background: none !important;
 }
.button-md:hover:not(.disable-hover) {
    background-color: white;
}

.button-md:focus {
    border-radius: 2px;
    overflow: hidden;
    height: 44px;
    font-size: 2.3rem;
    font-weight: 500;
    text-transform: uppercase;
    color:#df8d2e;
}

.text-input {
	margin-left: 5px !important;
}
ion-label{
	position: absolute;
	opacity: 1;
	margin-left: 5px !important;
}
ion-footer{
	margin-bottom: 10px;
	color: white;
	font-size: 1.3rem;
}

  @keyframes sixPhasesFadeIn {
     0% {opacity: 0}
     20% {opacity: 0}
     40% {opacity: 0}
     60% {opacity: 0.33}
     80% {opacity: 0.66}
     100% {opacity: 1}
  }
  @keyframes sixPhasesFadeOut {
     0% {opacity: 1}
     5% {opacity: 0.66}
     10% {opacity: 0.33}
     20% {opacity: 0}
     80% {opacity: 0}
     100% {opacity: 0}
  }


	.floatLabel{
		opacity: 0;
	}

	.checkbox-icon{
		left: 3px;
		border-radius: 0 !important;
	    top: 2px !important;
	    position: relative !important;
	    height: 12px !important;
	    width: 12px !important;
	    border-width: 1px !important;
	    border-style: solid !important;
	    border-color: white !important;
	    background-color: transparent !important;
	}

	ion-card.userIDCard.card {
    	margin-top: 40px;
    	margin-bottom: 20px;
	}

	.checkbox-checked .checkbox-inner{
		border-width: 1.5px !important;
    	border-top-width: 0 !important;
   		border-left-width: 0 !important;
    	width: 3px !important;
    	height: 6px  !important;
	}

	.checkbox-inner{
	    left: 3.5px !important;
	    top: 1px !important;
	}

	button.button{
    		box-shadow: none;
		    height: 44px;
		    font-size: 2.3rem;
		    width: 100%;
		    border-radius: 0 !important;
		    background-color: transparent;
		    border: 1px solid white !important;
		    margin: 1px 0px !important;
	}
	button:active, button.button.activated{
	 background-color: white;
	 color:#df8d2e;
	}
	button.item-cover{
	    top: 2px;
	    left: 2px;
	}
	ion-img{
	 background: none;
	 display: block;
   	 margin: auto;
     margin-top: 25%;
	}
	ion-card.card{
	 color:white;
	 box-shadow: none;
	 background: transparent !important;
	 border-radius: 0px !important;
	}
	ion-input
	{
		width: 100%;
	    //padding: 10px 4px;
	    background-color: rgba(255, 255, 255, 0.25);
	    border: none;
    	border-bottom: thick solid white;
    	border-radius: 0px !important;
	}
	.column{
	    width: 33% !important;
		text-align: center;
	}

	.row {
		width: 100%;
	}

	div.selfieLoginContainer{
		margin-top: 25px;
		width:100%;
	}

	button.selfieLogin{
	    background-color: #5d5d5d;
	}

    .lowerPanel{
    	position: absolute;
	    background-color: #efefef;
	    bottom: 0;
	    width: 100%;
	    height: 200px;
    }


}
