page-quickview {
	
	.bold{
		font-weight: 500;
	}
	.back-button{
		display: none !important;
	}

	ion-content.menu {
    	background-color: red !important;
	}
	.mainContent{
		margin-top:15%;
	}
	ion-img{
	    background: none;
	    display: block;
	    margin: auto;
	    margin-top: -10px;
	}
	ion-item.image ion-label.label {
    	padding: 6px 0 0 0;
	}
	.column{
	    width: 25% !important;
		text-align: center;
	}

	ion-menu div ion-content.content div ion-list button{
		background-color: transparent;
	}

	span.button-inner {
	    display: inline-block;
	}
	button.more{
	    background-color: transparent;
	    box-shadow: none;
	    color: grey;
	    font-size: 1.2rem;
	    font-weight: normal;
	    font-family: "Roboto", "Helvetica Neue", sans-serif;
	    height: 4rem;
	    text-transform: none;
	}

	ion-img.headerText {
    	margin: -6px 8px 0px 0px;
	}

	.button-md:hover:not(.disable-hover) {
    	background-color: transparent;
	}
	
	.toolbar-title{
		color: white !important;
	}
	.toolbar-background {
	  	background-color: #df8d2e;
	}
	ion-footer{
		padding-bottom: 10px;
	    color: grey;
	    position: fixed !important;
	    font-size: 1.3rem;
	    background-color: #f7f7f7;
	}
	ion-img img {
	    top: 8px;
	    position: absolute;
	    display: block;
	}
	ion-header{
		position: fixed !important;
	}
	.headerText{
		float: left;
	}
	.amountText{
		float:right;
	}
	ion-item{
	    border-bottom: 1px solid #dedede !important;
	}
	.item-inner {
      border-bottom: 0 !important;
    }
    ion-item.postedDate {
	    background-color: #f4f4f4;
	    min-height: 35px;
	    height: 35px;
	}
	p.headerText {
    	font-size: 1.3rem;
	}
	ion-item.slim {
	    height: 35px;
	    min-height: 35px;
	}
	ion-item.medium {
	    height: 45px;
	    min-height: 45px;
	}
	.green{
	color:#207d20;
	}
	.blue{
	 color:blue;
	}
	.orange{
	 color: #df8d2e;
	}
}
